<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.dao.sys.SysFarmlandDao">
  <resultMap id="BaseResultMap" type="com.design.model.sys.SysFarmland">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="farmland_id" jdbcType="INTEGER" property="farmlandId" />
    <result column="farmland_moisture" jdbcType="DOUBLE" property="farmlandMoisture" />
    <result column="air_temp" jdbcType="DOUBLE" property="airTemp" />
    <result column="air_moisture" jdbcType="DOUBLE" property="airMoisture" />
    <result column="test_time" jdbcType="TIMESTAMP" property="testTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, farmland_id, farmland_moisture, air_temp, air_moisture, test_time, status, gmt_create, 
    gmt_update
  </sql>
  
  <!-- 根据 id 查询数据 -->
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_farmland
    where status = 0 and id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 批量删除数据 -->
  <update id="deleteByIds">
    update sys_farmland
    set status=1
    <where>
    	<foreach collection="list" item="id" separator="," open="id in (" close=")">
        	#{id}
        </foreach>
    </where>
  </update>
  
  <!-- 逐条添加数据 -->
  <insert id="insertFarmland" parameterType="com.design.model.sys.SysFarmland" useGeneratedKeys="true" keyProperty="id">
    insert into sys_farmland
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="farmlandId != null">
        farmland_id,
      </if>
      <if test="farmlandMoisture != null">
        farmland_moisture,
      </if>
      <if test="airTemp != null">
        air_temp,
      </if>
      <if test="airMoisture != null">
        air_moisture,
      </if>
      <if test="testTime != null">
        test_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="farmlandId != null">
        #{farmlandId,jdbcType=DOUBLE},
      </if>
      <if test="farmlandMoisture != null">
        #{farmlandMoisture,jdbcType=DOUBLE},
      </if>
      <if test="airTemp != null">
        #{airTemp,jdbcType=DOUBLE},
      </if>
      <if test="airMoisture != null">
        #{airMoisture,jdbcType=DOUBLE},
      </if>
      <if test="testTime != null">
        #{testTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 分页获取信息数据 -->
  <select id="selectFarmlandList" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from sys_farmland
    <where>
    	status=0
    	<if test="farmlandId!=null">
    		and farmland_id = #{farmlandId,jdbcType=INTEGER}
    	</if>
    	<if test="startTime!=null and startTime!=''">
    		and test_time &gt; #{startTime,jdbcType=TIMESTAMP}
    	</if>
    	<if test="endTime!=null and endTime!=''">
    		and test_time &lt; #{endTime,jdbcType=TIMESTAMP}
    	</if>
    </where>
    order by gmt_create desc
  </select>
  
  <!-- 分页获取信息数量 -->
  <select id="selectFarmlandCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select 
    count(id)
    from sys_farmland
    <where>
    	status=0
    	<if test="farmlandId!=null">
    		and farmland_id = #{farmlandId,jdbcType=INTEGER}
    	</if>
    	<if test="startTime!=null and startTime!=''">
    		and test_time &gt; #{startTime,jdbcType=TIMESTAMP}
    	</if>
    	<if test="endTime!=null and endTime!=''">
    		and test_time &lt; #{endTime,jdbcType=TIMESTAMP}
    	</if>
    </where>
    order by gmt_create desc
  </select>
  
  
  <select id="getFm1" resultType="java.lang.Double">
	SELECT 
		farmland_moisture
	FROM
		sys_farmland
	WHERE
		farmland_id=1
	ORDER BY
		test_time DESC
	LIMIT 1
  </select>
  <select id="getFm2" resultType="java.lang.Double">
	SELECT 
		farmland_moisture
	FROM
		sys_farmland
	WHERE
		farmland_id=2
	ORDER BY
		test_time DESC
	LIMIT 1
  </select>
  <select id="getFm3" resultType="java.lang.Double">
	SELECT 
		farmland_moisture
	FROM
		sys_farmland
	WHERE
		farmland_id=3
	ORDER BY
		test_time DESC
	LIMIT 1
  </select>
  <select id="getAm" resultType="java.lang.Double">
	SELECT 
		air_moisture
	FROM
		sys_farmland
	ORDER BY
		test_time DESC
	LIMIT 1
  </select>
  <select id="getAt" resultType="java.lang.Double">
	SELECT 
		air_temp
	FROM
		sys_farmland
	ORDER BY
		test_time DESC
	LIMIT 1
  </select>
  
</mapper>